body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}

body .bgimg-1 {
  background-image: url("/images/developer1.png");
  min-height: 670px;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10%;
}

body .bgimg-2 {
  background-image: url("/images/writing.png");
  min-height: 670px;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10%;
}

body .bgimg-3 {
  background-image: url("/images/contact.png");
  min-height: 670px;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 10%;
}

body #header {
  color: red;
}

body .sliding {
  opacity: 0;
  transform: translateX(-50%);
  transition-duration: 1s;
}

body #developer-container {
  color: #ddd;
  background-color: #282e34;
  text-align: center;
  padding: 50px 80px;
  text-align: center;
}

body #developer-content {
  font-size: 16px;
  text-align: left;
}

body .sliding {
  opacity: 0;
  transform: translateX(-50%);
  transition-duration: 1s;
}

body .showing {
  opacity: 1;
  transform: translateX(0%);
}

body #developer {
  width: 80%;
  margin: 0 auto;
}

body #section2 {
  padding: 20px 80px;
  color: #ddd;
  text-align: center;
  padding: 50px 80px;
  text-align: justify;
}
