$avatar-size: 32px;

.nav-link {
	font-size: 24px;
	color:#ffffff;
}
.wrapper {
	text-align: center;
	h1 {
		color: #ffffff;
		font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
		font-weight: 700;
		background: linear-gradient(to right, #1f1e1e 10%, rgb(49, 45, 45) 50%, #f1f4f5 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
	
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;
	}
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}
