// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
   .bgimg-1 {
    background-image: url("/images/developer1.png");
    min-height: 670px;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-content: center;
  }
   .bgimg-2 {
    background-image: url("/images/writing.png");
    min-height: 670px;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-content: center;
  }
   .bgimg-3 {
    background-image: url("/images/contact.png");
    min-height: 670px;
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .bgimg {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    width: 100%;
}
  #header{
    color: red;
  }
  .sliding {
    opacity: 0;
    transform: translateX(-50%);
    transition-duration: 1s;
  }
  #developer-container {
    color: #ddd;
    background-color: #2b3136;
    text-align: center;
    padding: 50px 80px;
    text-align: center;
    #developer {
      width: 70%; 
      margin:0 auto;
      #developer-content {
        font-size: 16px;
        text-align: left;
      }  
    }
  }
  #writer-container {
    color: #ddd;
    background-color: #2b3136;
    text-align: center;
    padding: 50px 80px;
    text-align: center;
    #writer {
      width: 70%; 
      margin:0 auto;
      #writer-content {
        font-size: 16px;
        text-align: left;
      }  
    }
  }      
  .showing {
    opacity: 1;
    transform: translateX(0%);
  }
  
  
  
  #section2 {
    padding: 20px 80px;
    color:#ddd;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
  }
}
